-f https://download.openmmlab.com/mmcv/dist/cu121/torch2.1/index.html
mmcv==2.1.0
mmengine==0.10.7
mmdet==3.3.0
opencv-python==4.11.0.86
pycocotools==2.0.11
onnx==1.16.2
fsspec==2026.4.0
numpy==1.26.4
Pillow==12.2.0
